<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card"">
      <div class="row">
        <div class="col-3 m-3">
          <img
            src="https://tgp.com.ph/blog/wp-content/uploads/2014/07/icon_38932.png"
            class="mr-3 img-thumbnail rounded img-fluid"
            style="width: 128px; height: 128px; cursor: pointer;"
            data-toggle="modal"
            data-target="#changeIconModal"
            id="user-icon"
          />
        </div>
        <div class="col-4">
          <div class="media-body mt-3">
            <h5 class="text-left" id="user-name"></h5>
          </div>
        </div>
        <a href="/user/logout" class="col-4 h-50 mt-3 btn btn-secondary float-right">Logout</a>
      </div>
    </div>
    <ul class="list-unstyled" id="channels">
      <span class="card">
        <button type="button" class="btn btn-secondary" id="GeneralChannel">
          General
        </button>
      </span>
    </ul>
    <div style="height: 50vh;" class="overflow-auto" id="messagesContainer">
      <ul class="list-unstyled" id="General"></ul>
    </div>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Message"
        aria-label="messageContent"
        aria-describedby="sendMessage"
        id="messageBox"
        name="messageContent"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="sendMessage"
          onclick="sendMessage()"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="changeIconModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="changeIconModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeIconModalLabel">Change icon</h5>
      </div>
      <form action="/chat" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <input type="file" name="avatar" id="avatar" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <input
            type="submit"
            class="btn btn-primary"
            name="submitAvatar"
            id="submitAvatar"
            value="Apply"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<script src="../js/socket.io.js"></script>
<script src="../js/client.js"></script>
