<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card text-center">
      <% include ./partials/errors %>
      <form action="/user/login" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="Username"
            value="<%= typeof username !== 'undefined' ? username : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
