<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card text-center">
      <% include ./partials/errors %>
      <form action="/user/register" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            placeholder="Displayed name"
            value="<%= typeof name !== 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="Username used to login"
            value="<%= typeof username !== 'undefined' ? username : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            class="form-control"
            placeholder="Confirm password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>
