<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card text-center">
      <h1 class="mt-5">Hey there!</h1>
      <h3 class="mt-5">
        In order to use the app, you'll have to log in first.
      </h3>
      <h3>If you don't have an account, you can register one below.</h3>
      <a href="/user/login" class="btn btn-primary mt-4">Login</a>
      <a href="/user/register" class="btn btn-primary mt-2">Register</a>
    </div>
  </div>
</div>
