<% if(typeof errors !== 'undefined') { %> <% errors.forEach((error) => { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong><%=error %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% })%> <% }%> <% if(success != '') { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong><%=success %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% if(error != '') { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong><%=error %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
